@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header-block {
  background-color: #1f2937;
  color: #f9faf8;
}

.header,
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.link {
  text-decoration: none;
}

.links {
  align-self: flex-end;
  display: flex;
  gap: 24px;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
  text-align: left;
  margin: 0;
}

.link,
.hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 35px;
  border-radius: 10px;
  border: 0px;
  font-size: 16px;
  font-weight: bold;
}

.hero {
  text-align: center;
  align-content: space-around;
  padding: 48px 48px 96px 48px;
  gap: 24px;
  margin: auto 188px auto;
}

.button-container {
  display: flex;
}

.hero-subtext {
  text-align: left;
}

.hero-image {
  width: 100%;
  height: auto;
  min-width: 400px;
}

.hero-info {
  display: flex;
  flex-flow: column nowrap;
}

li {
  list-style: none;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.image-text-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 48px 48px 96px 48px;
}

.leftmost-text,
.left-center-text,
.right-center-text,
.rightmost-text {
  width: 175px;
  color: gray;
  font-size: 18px;
  text-align: center;
}

.leftmost-image,
.left-center-image,
.right-center-image,
.rightmost-image {
  border: 4px solid #3882f6;
  border-radius: 10px;
  width: 175px;
  height: 175px;
}

.quote-block {
  background-color: #e5e7eb;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.quote {
  font-size: 36px;
  font-weight: 100;
  text-align: left;
  font-style: italic;
  color: #1f2937;
  margin: 100px 180px 0 270px;
  padding: 48px 80px 0px 80px;
}

.speaker {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  color: #1f2937;
  font-weight: bold;
  margin-right: 375px;
  margin-bottom: 96px;
}

.sign-up-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  padding: 96px 192px 96px;
}

.center-section {
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 32px 0 32px;
  margin-left: 24px;
  margin-right: 24px;
}

.bottom-button {
  border: 3px solid #f9faf8;
}

.main-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.sub-text {
  font-size: 18px;
  margin-top: 0;
}
